a:link {
	text-decoration: none;
color: #AE0000;
}
a:visited {
	text-decoration: none;
color: #AE0000;
}
a:hover {
color: #AE0000;
	text-decoration: none;
}
a:active {
color: #AE0000;
	text-decoration: none;
}





#fl_main
{
	width:900px;
	background-color:#fff;
}


#img
{
	background-image:url(../images/index_img.png);
	background-repeat:no-repeat;
	width:900px;
	height:75px;
	border: 0px solid #fff;
}
#top_bar
{
	width:100%;
	height:15px;
	background-color:#ffffff;
}

#space
{
	width:100%;
	height:20px;
}
#read
{
	width:100%;
	height:20px;
	text-align:right;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8px;
	font-weight: bold;
	color: #6E212E;

}
#side_head
{
	width:100%;
	height:30px;
	float:left;
	text-align:left;
	color: #6E212E;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
#abt_content
{
	line-height: 20px;
	width:100%;
	background-color:#FFF;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: normal;
}
#technology_cont
{       
	line-height: 20px;
	width:100%;
	height:180px;
	background-color:#FFF;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: normal;
}
#repository
{       
	line-height: 20px;
	width:100%;
	height:100px;
	background-color:#FFF;
	color: #000000;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	font-weight: normal;
}






#footer
{
	width:900px;
}
#footer_tab
{
        text-align:left;
        padding:0px 20px 0px 0px;
        margin:5px;
        line-height: 20px;
        float:left;
        width:900px;
        background-color:#FFF;
        color: #000000;
        text-align: justify;
        font-family: Tahoma, Geneva, sans-serif;
        font-size: 12px;
        color: #333;
        font-weight: normal;
}


#copyrg
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#000000;
}

